<%@product= Product.where(id: product).first%>
<ul class="comments">
  <% @product.ratings.order("ratings.created_at DESC").each do |rating|%>
  <div class="review-block">
    <div class="row">
      <div class="col-sm-3">
        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
        <div class="review-block-name"><a href="#"><%= rating.user.email %></a></div>
        <div class="review-block-date"><%= rating.created_at.strftime('%d %b %Y')%><br/><%= time_ago_in_words(rating.created_at, include_seconds: true) %> Ago</div>
      </div>
      <div class="col-sm-9">
        <div class="review-block-rate">
          <% (1 .. (rating.rating/2)).each do |rr|%>
          <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% if rating.half_star? %>
          <span class="glyphicon glyphicon-star half"></span>
          <% end %>
        </div>
        <div class="review-block-description"><%= rating.review%></div>
        <%if current_user.present?%>
       <div id="rate_<%= rating.id %>_likes">
          <%= render "likes/likes", likeable: rating %>
        </div>
      </div>
      <%end%>
    </div>
    <hr/>
  </div>
  <% end %>
</ul>