<!DOCTYPE html>
<html>
 <head>
    <title>RedirectExample</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 <%= render 'layouts/messages' %> 
 <%= render 'layouts/admin_header'%>
    <%= yield %>
  <%= render 'layouts/admin_footer'%> 
  </body>
</html>