<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'download.png'%>
  </head>

  <body>
 <%= render 'layouts/messages' %>  
<%= render partial: 'layouts/header'%>
    <%= yield %>
  <%= render partial: 'layouts/footer'%>

  </body>
</html>
